@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    font-family: "Courier Prime", monospace, sans-serif;
    background-color: #000000;
    box-sizing: border-box;
}

.container{
    height: min(80vh, 500px);
    margin: auto;
    background-color: black;
    border-radius: 0px 0px 7px 7px;
    padding-left: 30px;
    padding-top: 10px   ;
    border: 1px solid rgb(1, 173, 1);
    color: rgb(1, 216, 1);
    font-size: 1rem;
    width: max(50vw, 320px);
    line-height: 2rem;
}

.container h2{
    /* text-align: center; */
    font-size: 1.5rem;
    padding: 5px;
}

.header{
    color: rgb(1, 216, 1);
    border: 1px solid rgb(1, 173, 1);
    border-radius: 7px 7px 0px 0px;
    height: 2rem;
    width: calc(max(50vw, 320px) + 30px);
    margin: 0px auto -1px auto;
    
}

.header span{
    display: block;
    text-align: center;
    line-height: 2rem;
}

@media (max-width: 768px){
    .container h2{
        font-size: 1.2rem;
    }
    .header span{
        font-size: 0.9rem;
    }
    .container{
        font-size: 0.7rem;
    }
}
@media (max-width: 480px){
    .container h2{
        font-size: 1.1rem;
    }
    .header span{
        font-size: 0.8rem;
    }
    .container{
        font-size: 0.6rem;
    }
}