@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    font-family: "Courier Prime", monospace, sans-serif;
    background-color: #22271d;
}

.container{
    height: 70vh;
    margin: 10px auto;
    background-color: black;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
    border: 1px solid green;
    color: green;
    font-size: 1rem;
}